.footer-icon {
    background: #F9F9FB;
    padding-top: 77px;

    .footer-line {
        width: 100%;
        height: 0.6px;
        background: #C4C4C4;
    }

    .footerweb__content {
        padding-top: 32px;
        padding-bottom: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 32px;
    }
}